@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:is(.dark *));
/* @plugin "daisyui"; */


@custom-variant dark (&:where(.dark, .dark *));



/* @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
} */



 /* @custom-variant dark (&:where(.dark, .dark)); */